*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-color: azure;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 32px 32px;
}
.photo{
    display: flex;
    align-items: center;
}
img{
    width: 110px;
    height: 110px;
}
h1{
    font-size: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding-left: 18px;
}
span{
    color: dodgerblue;
}
.same{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    height: 90px;
}
#input-1, #input-2, #input-3{
    width: 100%;
    height: 100%;
    font-size: 19px;
    padding-left: 10px;
}
 #input-3:focus{
    outline: none;
}
#input-1:focus{
   outline: none;
}
#input-2:focus{
  outline: none;
}
.same>p{
    padding-top: 15px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(84, 83, 83);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.different{
    display: flex;
    align-items: center;
    margin-top: 19px;
    margin-bottom: 19px;
    gap: 10px;
}
.different>input{
 width: 14px;
 height: 14px;
}
.different>input:hover{
    cursor: pointer;
}
#b, #c{
    margin-left: 18px;
}
.different>p{
    font-size: 20px;
    color: rgb(84, 83, 83);
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    width: 100%;
    height: 40px;
    border-style: none;
    background-color: dodgerblue;
    font-size: 20px;
    color: white;
}
button:hover{
    cursor: pointer;
}
.table{
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid grey;
    background-color: white;
    overflow: hidden;
}

.table th:first-child{
padding-left: 19px;
}
.table th{
    padding: 20px 0px;
    text-align: left;
    font-size: 18px;
    color: rgb(84, 83, 83);
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}